/*!
 * This program is free software; you can use it, redistribute it
 * and / or modify it under the terms of the GNU General Public License
 * (GPL) as published by the Free Software Foundation; either version 3
 * of the License or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 *  WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program, in a file called gpl.txt or license.txt.
 *  If not, write to the Free Software Foundation Inc.,
 *  59 Temple Place - Suite 330, Boston, MA  02111-1307 USA
 */

$spacing-base: 0.25rem !default;
$spacing-max: 5 !default;

.w-25 {
  width: 25% !important;
}

.w-100 {
  width: 100% !important;
}

@for $i from 0 through $spacing-max {
  $space: $spacing-base * $i;

  .m-#{$i} {
    margin: $space !important;
  }

  .mx-#{$i} {
    margin-left: $space !important;
    margin-right: $space !important;
  }

  .my-#{$i} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }

  .ms-#{$i} {
    margin-left: $space !important;
  }

  .me-#{$i} {
    margin-right: $space !important;
  }

  .mt-#{$i} {
    margin-top: $space !important;
  }

  .mb-#{$i} {
    margin-bottom: $space !important;
  }

  .p-#{$i} {
    padding: $space !important;
  }

  .px-#{$i} {
    padding-left: $space !important;
    padding-right: $space !important;
  }

  .py-#{$i} {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }

  .ps-#{$i} {
    padding-left: $space !important;
  }

  .pe-#{$i} {
    padding-right: $space !important;
  }

  @media (min-width: 768px) {
    .ps-md-#{$i} {
      padding-left: $space !important;
    }

    .pe-md-#{$i} {
      padding-right: $space !important;
    }
  }

  .pt-#{$i} {
    padding-top: $space !important;
  }

  .pb-#{$i} {
    padding-bottom: $space !important;
  }
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}
