<div id="deviceInfo">
    <fieldset *ngIf="wifiInfo">
        <legend>WiFi Info</legend>
        <dl class="row">
            <dt class="col-sm-3">SSID</dt>
            <dd class="col-sm-9">{{ wifiInfo.SSID }}</dd>

            <dt class="col-sm-3">IP</dt>
            <dd class="col-sm-9">{{ wifiInfo.ip }}</dd>

            <dt class="col-sm-3">MAC</dt>
            <dd class="col-sm-9">{{ wifiInfo.mac }}</dd>
        </dl>
    </fieldset>

    <fieldset *ngIf="modemInfo">
        <legend>Modem Info</legend>
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{ modemInfo.name }}</dd>

            <!--    <dt class="col-sm-3">Info</dt>-->
            <!--    <dd class="col-sm-9">{{ modemInfo.info }}</dd>-->

            <dt class="col-sm-3">Signal Quality</dt>
            <dd class="col-sm-9">{{ calcRSSI(modemInfo.signalQuality) }} dBm</dd>

            <dt class="col-sm-3">IP</dt>
            <dd class="col-sm-9">{{ modemInfo.ip }}</dd>

            <dt class="col-sm-3">IMEI</dt>
            <dd class="col-sm-9">{{ modemInfo.IMEI }}</dd>

            <dt class="col-sm-3">IMSI</dt>
            <dd class="col-sm-9">{{ modemInfo.IMSI }}</dd>

            <dt class="col-sm-3">CCID</dt>
            <dd class="col-sm-9">{{ modemInfo.CCID }}</dd>
        </dl>
    </fieldset>
</div>