<!--
  ~ This program is free software; you can use it, redistribute it
  ~ and / or modify it under the terms of the GNU General Public License
  ~ (GPL) as published by the Free Software Foundation; either version 3
  ~ of the License or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but
  ~  WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program, in a file called gpl.txt or license.txt.
  ~  If not, write to the Free Software Foundation Inc.,
  ~  59 Temple Place - Suite 330, Boston, MA  02111-1307 USA
  -->

<div id="ota">
    <p>
        Download the latest <a href="https://github.com/adlerre/obd2-mqtt/releases">release</a> for your device.
    </p>
    <p>
        Extract and upload <i>firmware.bin</i> and/or <i>littlefs.bin</i>, or move the entire folder to the drag and
        drop zone.
    </p>
    <p>
        <strong class="text-danger">Do not reload this page or switch to another page while the update is in
            progress!</strong>
    </p>

    <form>
        @if (!queue || queue && queue.length <= 1) {
            <div class="row mb-2">
                <label for="type" class="col-sm-2 col-form-label">Upload type</label>
                <div class="col-sm-10">
                    <select class="form-control form-select" id="type" name="type" [formControl]="mode">
                        @for (t of getModes(); track t.key) {
                            <option [ngValue]="t.value">{{ t.key }}</option>
                        }
                    </select>
                </div>
            </div>
        }

        <div class="row mb-2">
            <div class="col-sm-12">
                <div fileDropZone (files)="onFiles($event)" class="file-drop-zone">
                    <div>
                        <label for="file" class="m-0">Select or drop file/folder</label>
                        <input type="file" id="file" name="file" multiple accept=".bin" [hidden]="true">
                    </div>
                </div>
            </div>
        </div>

        @if (queue && queue.length !== 0) {
            <ul class="file-queue list-group mb-2">
                <li *ngFor="let item of queue"
                    class="list-group-item d-inline-flex flex-row justify-content-between p-2"
                    [ngClass]="{'list-group-item-danger': item.error}">
                    <span class="text-truncate me-1">{{ item.file.filepath || item.file.name }}</span>
                    <span *ngIf="item.errorMsg" class="text-danger">{{ item.errorMsg }}</span>
                    <div class="d-inline-flex flex-row w-25">
                        <div *ngIf="item.progress" class="w-100 mt-auto mb-auto">
                            <ngb-progressbar
                                    [type]="!item.complete ? 'info' : item.error !== true ? 'success' : 'danger'"
                                    textType="white" [value]="item.progress" [animated]="item.processing"
                                    [striped]="true" [showValue]="true">
                            </ngb-progressbar>
                        </div>
                    </div>
                </li>
            </ul>
        }

        <div class="d-flex justify-content-end mb-2">
            <input type="submit" class="btn btn-primary" value="Upload" [disabled]="!uploadEnabled"
                   (click)="onUploadClick($event)">
        </div>
    </form>
</div>